@import "../../css/colors.css";

.connection_status {
    width: 2rem;
    height: 2rem;
    padding: 0.375rem;
    border-radius: 0.25rem;
    user-select: none;
    user-drag: none;
    cursor: pointer;
}

.connection_status:hover {
    background-color: $looks-light-transparent;
}

.connection_status.is-active {
    background-color: $looks-transparent;
}
